n8n/workflow-1-veille-automatisee.json
{
  "name": "PayFit SEO Copilot - Veille Automatisée",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Tous les jours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Test Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 100]
    },
    {
      "parameters": {
        "jsCode": "// Mots-clés seed pour la détection de tendances RH/Paie\nconst seeds = [\n  'fiche de paie 2026',\n  'obligations employeur paie 2026',\n  'SMIC 2026 nouveautés',\n  'congés payés nouvelles règles 2026',\n  'bulletin de paie mentions obligatoires',\n  'cotisations sociales 2026 changements',\n  'rupture conventionnelle 2026',\n  'télétravail indemnité 2026',\n  'transparence salariale directive européenne',\n  'DSN déclaration 2026',\n  'convention collective paie',\n  'logiciel de paie PME TPE',\n  'SIRH tendances 2026',\n  'égalité salariale femmes hommes 2026',\n  'titre restaurant 2026 plafond'\n];\n\nreturn [{ json: { seeds: seeds.join(', '), seedCount: seeds.length } }];"
      },
      "id": "seed-keywords",
      "name": "Mots-clés Seed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.legifrance.gouv.fr/rss/jo",
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          },
          "timeout": 15000
        }
      },
      "id": "legifrance-rss",
      "name": "Légifrance RSS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 350],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse le RSS Légifrance et filtre les items liés à la paie/RH\nconst xmlText = $input.first().json.data || $input.first().json.body || '';\n\n// Si le RSS a échoué, retourner un tableau vide\nif (!xmlText || typeof xmlText !== 'string' || xmlText.length < 100) {\n  return [{ json: { questions: [], source: 'Légifrance RSS', note: 'RSS indisponible ou vide' } }];\n}\n\n// Extraction simple des titres depuis le XML\nconst titleRegex = /<title><!\\[CDATA\\[(.*?)\\]\\]><\\/title>|<title>(.*?)<\\/title>/g;\nconst titles = [];\nlet match;\nwhile ((match = titleRegex.exec(xmlText)) !== null) {\n  const title = (match[1] || match[2] || '').trim();\n  if (title) titles.push(title);\n}\n\n// Mots-clés pour filtrer les items pertinents paie/RH\nconst keywords = [\n  'paie', 'salaire', 'rémunération', 'cotisation', 'smic',\n  'congé', 'travail', 'emploi', 'sécurité sociale', 'urssaf',\n  'retraite', 'mutuelle', 'prévoyance', 'embauche', 'licenciement',\n  'convention collective', 'code du travail', 'droit social',\n  'bulletin', 'indemnité', 'prime', 'titre-restaurant',\n  'télétravail', 'heures supplémentaires', 'dsn'\n];\n\nconst relevant = titles.filter(t => {\n  const lower = t.toLowerCase();\n  return keywords.some(kw => lower.includes(kw));\n});\n\n// Transformer les titres en questions exploitables\nconst questions = relevant.slice(0, 10).map(t => ({\n  question: `${t} : quelles conséquences pour la paie des TPE/PME en 2026 ?`,\n  source: 'Légifrance - Journal Officiel',\n  raw_title: t\n}));\n\nreturn [{ json: { questions, count: questions.length } }];"
      },
      "id": "parse-legifrance",
      "name": "Parser RSS Légifrance",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 350]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.7,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un expert SEO spécialisé en droit social, paie et RH françaises. Tu travailles pour PayFit. Ta mission est de détecter les questions émergentes que les employeurs français (TPE/PME) vont chercher sur Google dans les prochaines semaines. Tu te bases sur l'actualité législative, les tendances RH et les évolutions réglementaires 2026.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Génère exactement 10 questions émergentes que des dirigeants de TPE/PME ou responsables RH pourraient chercher sur Google en mars 2026 concernant la paie et les RH.\\n\\nContexte des mots-clés actuels surveillés : {{ $json.seeds }}\\n\\nRègles :\\n- Chaque question doit être liée à une actualité législative récente ou une tendance RH émergente\\n- Privilégie les sujets où il y a encore peu de contenu en ligne (opportunité SEO)\\n- Inclus le signal faible qui te fait penser que c'est émergent\\n- Format ta réponse UNIQUEMENT en JSON valide (pas de markdown) :\\n\\n[\\n  {\\n    \\\"question\\\": \\\"la question telle que recherchée sur Google\\\",\\n    \\\"source\\\": \\\"source probable (ex: LFSS 2026, Directive UE, URSSAF, Code du travail)\\\",\\n    \\\"signal\\\": \\\"explication en 1 phrase du signal faible\\\",\\n    \\\"icp_target\\\": \\\"ICP 1\\\" ou \\\"ICP 2\\\" ou \\\"ICP 1+2\\\",\\n    \\\"suggested_format\\\": \\\"format recommandé (Article + FAQ, Article technique, Guide pratique, etc.)\\\"\\n  }\\n]\"\n    }\n  ]\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "openai-paa",
      "name": "OpenAI - Générer Questions PAA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 100]
    },
    {
      "parameters": {
        "jsCode": "// Parse la réponse OpenAI et extrait les questions\nconst response = $input.first().json;\nconst content = response.choices?.[0]?.message?.content || '[]';\n\nlet questions;\ntry {\n  // Nettoyer le markdown potentiel\n  const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  questions = JSON.parse(cleaned);\n} catch (e) {\n  console.log('Parse error, attempting recovery...');\n  // Tenter de trouver le JSON dans le texte\n  const jsonMatch = content.match(/\\[\\s*\\{[\\s\\S]*\\}\\s*\\]/);\n  if (jsonMatch) {\n    questions = JSON.parse(jsonMatch[0]);\n  } else {\n    questions = [];\n  }\n}\n\nreturn [{ json: { questions, count: questions.length, source: 'OpenAI PAA Generation' } }];"
      },
      "id": "parse-openai-paa",
      "name": "Parser Réponse PAA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 100]
    },
    {
      "parameters": {
        "jsCode": "// Combiner les questions des deux sources (PAA + Légifrance)\nconst items = $input.all();\n\nlet allQuestions = [];\n\nfor (const item of items) {\n  const questions = item.json.questions || [];\n  for (const q of questions) {\n    allQuestions.push({\n      question: q.question,\n      source: q.source || 'Unknown',\n      signal: q.signal || q.raw_title || '',\n      icp_target: q.icp_target || 'ICP 1+2',\n      suggested_format: q.suggested_format || 'Article + FAQ'\n    });\n  }\n}\n\n// Déduplication basique (par question similaire)\nconst seen = new Set();\nconst unique = allQuestions.filter(q => {\n  const key = q.question.toLowerCase().substring(0, 50);\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\n// Retourner chaque question comme un item séparé pour le traitement en batch\nreturn unique.map(q => ({ json: q }));"
      },
      "id": "merge-dedup",
      "name": "Fusionner & Dédupliquer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Traiter un par un",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1300, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.3,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es un expert SEO spécialisé en paie et RH françaises pour PayFit.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Score cette question/thématique sur 3 critères (1 à 5) :\\n- score_novelty : la question est-elle liée à un changement récent ou imminent ?\\n- score_payfit_relevance : est-ce en lien direct avec la gestion de paie PME/TPE ?\\n- score_volume : combien d'employeurs français pourraient chercher cette info ?\\n\\nQuestion : \\\"{{ $json.question }}\\\"\\nSource identifiée : {{ $json.source }}\\nSignal : {{ $json.signal }}\\n\\nRéponds UNIQUEMENT en JSON valide :\\n{\\n  \\\"score_novelty\\\": X,\\n  \\\"score_payfit_relevance\\\": X,\\n  \\\"score_volume\\\": X\\n}\"\n    }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "openai-score",
      "name": "OpenAI - Scorer la Trend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1550, 200]
    },
    {
      "parameters": {
        "jsCode": "// Combiner les données de la question avec son score\nconst batchItem = $('Traiter un par un').first().json;\nconst scoreResponse = $input.first().json;\n\nconst content = scoreResponse.choices?.[0]?.message?.content || '{}';\nconst cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n\nlet scores;\ntry {\n  scores = JSON.parse(cleaned);\n} catch {\n  scores = { score_novelty: 3, score_payfit_relevance: 3, score_volume: 3 };\n}\n\nconst score_total = (\n  (scores.score_novelty || 3) +\n  (scores.score_payfit_relevance || 3) +\n  (scores.score_volume || 3)\n) / 3;\n\nreturn [{\n  json: {\n    type: 'trend',\n    data: {\n      question: batchItem.question,\n      source: batchItem.source,\n      signal: batchItem.signal,\n      score_novelty: scores.score_novelty || 3,\n      score_payfit_relevance: scores.score_payfit_relevance || 3,\n      score_volume: scores.score_volume || 3,\n      score_total: Math.round(score_total * 100) / 100,\n      icp_target: batchItem.icp_target || 'ICP 1+2',\n      suggested_format: batchItem.suggested_format || 'Article + FAQ',\n      status: 'new'\n    }\n  }\n}];"
      },
      "id": "format-webhook",
      "name": "Formater pour Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.PAYFIT_APP_URL || 'https://votre-app.vercel.app' }}/api/webhook-n8n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Webhook-Secret",
              "value": "={{ $env.WEBHOOK_SECRET }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "send-webhook",
      "name": "Envoyer au SaaS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-success",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Succès ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2300, 200]
    }
  ],
  "connections": {
    "Test Manuel": {
      "main": [
        [
          {
            "node": "Mots-clés Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tous les jours": {
      "main": [
        [
          {
            "node": "Mots-clés Seed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mots-clés Seed": {
      "main": [
        [
          {
            "node": "OpenAI - Générer Questions PAA",
            "type": "main",
            "index": 0
          },
          {
            "node": "Légifrance RSS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Légifrance RSS": {
      "main": [
        [
          {
            "node": "Parser RSS Légifrance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Générer Questions PAA": {
      "main": [
        [
          {
            "node": "Parser Réponse PAA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Réponse PAA": {
      "main": [
        [
          {
            "node": "Fusionner & Dédupliquer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser RSS Légifrance": {
      "main": [
        [
          {
            "node": "Fusionner & Dédupliquer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fusionner & Dédupliquer": {
      "main": [
        [
          {
            "node": "Traiter un par un",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traiter un par un": {
      "main": [
        [
          {
            "node": "OpenAI - Scorer la Trend",
            "type": "main",
            "index": 0
          }
        ],
        [
        ]
      ]
    },
    "OpenAI - Scorer la Trend": {
      "main": [
        [
          {
            "node": "Formater pour Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater pour Webhook": {
      "main": [
        [
          {
            "node": "Envoyer au SaaS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer au SaaS": {
      "main": [
        [
          {
            "node": "Succès ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Succès ?": {
      "main": [
        [
          {
            "node": "Traiter un par un",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "PayFit SEO Copilot"
    }
  ]
}
